<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Error</title>
    <link rel="stylesheet" href="/time_jugglers/staticfiles/styles/styles.css">
</head>
<body>
<header>
        <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="header-transparent-logo">
        <nav class="header-navbar">
            <ul class="header-list">
                <li class="header-list-item">
                    <a href="#">Home</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Discography</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Events</a>
                </li>
                <li class="header-list-item">
                    <a href="#">About</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Store</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class="header-socials-links">
            <a href="https://www.instagram.com/timejugglers/?next=%2F" class="fab fa-instagram"></a>
            <a href="https://www.facebook.com/timejugglers" class="fab fa-facebook-f"></a>
            <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
            <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
            <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
        </div>
    </header>
    <main>
        <div id="not-found-error-div">
            <p id="not-found-error-message">Oops! The page you requested wasn't found. Try clicking on one of the links above!</p>
        </div>
    </main>
    <footer>
        <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="footer-transparent-logo">
        <div class="footer-main-div">
            <p>Follow us:</p>
            <div class="footer-socials-links">
                <a href="https://www.instagram.com/timejugglers/?next=%2F" class="fab fa-instagram"></a>
                <a href="https://www.facebook.com/timejugglers" class="fab fa-facebook-f"></a>
                <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
                <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
                <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
            </div>
            <p>&copy 2023 Time Jugglers</p>
        </div>
    </footer>
</body>
</html>
