<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/time_jugglers/staticfiles/styles/styles.css">
</head>
<body>
    <header>
        <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="header-transparent-logo">
        <nav class="header-navbar">
            <ul class="header-list">
                <li class="header-list-item">
                    <a href="#">Home</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Discography</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Events</a>
                </li>
                <li class="header-list-item">
                    <a href="#">About</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Store</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class="header-socials-links">
            <a href="https://www.instagram.com/timejugglers/?next=%2F" class="fab fa-instagram"></a>
            <a href="https://www.facebook.com/timejugglers" class="fab fa-facebook-f"></a>
            <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
            <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
            <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
        </div>
    </header>
    <main>
        <section id="about-history">
            <h2>HISTORY</h2>
            <div class="about-history-image-div" id="about-history-first-image">
                <img src="/time_jugglers/staticfiles/images/about-history-first.jpg" alt="about-history-first-img" id="about-history-first-img">
                <p>Live at Swingin' Hall in Sofia, 2018</p>
            </div>
            <article id="about-history-article">
                <h3>Beginnings</h3>
                <p>We formed back in 2016 and started off by playing a wide variety of genres from alternative and blues to indie rock. The initial line-up consisted of Rosie Lesidrenska (vocals), Georgi I. Ivanov (guitar, backing vocals), Jordan Chipev (guitar), Georgi Hristozov (bass), and Ralitsa Ostreva (drums). After a little less than a year we had the opportunity to record our first original song "Drown Together" for a compilation album "Musical Revolution" (2017) by RockSchool.bg. This also presented us our first chance to play outside our home city.</p>
                <h3>Stories in Time</h3>
                <p>It was around this time that the line-up began to change. Within one year Rosie remained the only original member and the other roles had been taken up by Pavel Daskalov (guitar), Philip Kolarov (bass), and Alexander Hristov (drums). These changes brought with them a harder edge to the music, with elements of 70's and 80's heavy metal beginning to creep in. Eventually we had enough original material to record a full-length album, which we started working on in February 2019 at Sound City Studios. Five months later, the whole product was complete and "Stories in Time" was released on July 26th, featuring a wide array of styles in songs written over the group's three-year existence. The opening track "Hot Fire" was selected as part of a compilation CD for Classic Rock Magazine.</p>
                <h3>Back to the Writing Process</h3>
                <p>Shortly after this, Pavel left the band and was replaced with Dimo Zahariev, with whom the present day line-up still stands. While concerts continued for a while, COVID-19 hindered further progress, and we began focusing on our next album, which would be longer, more focused and overall heavier. Influences such as Black Sabbath, Alice in Chains, and Soundgarden became primary while other progressive and stoner elements also found their way into the mix, as well as the idea of a concept record. Due to the scale of the new project, recording would not begin until April 2021, this time at Urban House Studio. Vladimir Georgiev (guitar) was also a member of the group for six months up until this point, but differences between us forced us to part ways.</p>
                <h3>The Tyrant Within</h3>
                <p>By the end of 2021, we were ready to release the first single of the new record. "Spineless", which featured guest vocalist Svetlana Bliznakova (SEVI), dropped on November 19th and became our first track to be included in a local chart (Raeyners Top 30). Two months later, the second track "Course of Action" was released, which would be rotated regularly on local radio. The entire album was release on February 18th 2022, following the last single "Lighthouse". At this point we had a new rhythm guitarist Constantin Assenov, who joined us for concerts across the country over the next half-year. We also made our international debut in May with two gigs in Germany, were we incidentally had begun recording even more new material!</p>
                <h3>The New EP</h3>
                <p>Even before the release of "The Tyrant Within", we had been revitalizing the creative process, which had produced four new songs. During the 9 days we spent at Vibesbuilder Studios in Erkelenz, we worked tirelessly to record every part. Once the tracks were completed, we filmed one music video for each song as well under the supervision of Boyan Karamfilov. Starting on February 24th 2023, one song was put out every three weeks, culminating in the official release of our first EP "A Fraction of Consciousness" by the end of April. New rhythm guitarist Georgi Mitrev joined us in the lead-up to the releases too. The tracks have since helped us gain more widespread attention, and we will continue to pump out content as time goes by!</p>
            </article>
        </section>
        <section id="about-members">
            <h2>MEMBERS</h2>
            <article id="about-members-article">
                <div class="about-member-div">
                    <img src="/time_jugglers/staticfiles/images/about-members-rosie.jpg" alt="members-Rosie" class="about-member-img">
                    <div class="about-member-div-text">
                        <h3>Rosie Lesidrenska</h3>
                        <h4>Vocals (2016-)</h4>
                        <p>The only remaining original member, Rosie has been the face and voice of the band right from the start. While pumping out hard and heavy vocal lines, she draws influence from artists like Tina Turner, Ella Fitzgerald, and Layne Staley.</p>
                    </div>
                </div>
                <div class="about-member-div">
                    <img src="/time_jugglers/staticfiles/images/about-members-dimo.jpg" alt="members-Rosie" class="about-member-img">
                    <div class="about-member-div-text">
                        <h3>Dimo Zahariev</h3>
                        <h4>Lead Guitar (2019-)</h4>
                        <p>As the motor for the music we play, Dimo likes his riffs like we like him - electrifying, memorable, and never short of a story to tell! His experimental approach to lead parts includes inspiration from musicians like Tony Iommi, Dimebag Darrell, Kim Thayill, Daron Malakian and more.</p>
                    </div>
                </div>
                <div class="about-member-div">
                    <img src="/time_jugglers/staticfiles/images/about-members-georgi.jpg" alt="members-Rosie" class="about-member-img">
                    <div class="about-member-div-text">
                        <h3>Georgi Mitrev</h3>
                        <h4>Rhythm Guitar (2023-)</h4>
                        <p>The latest addition to the band, Georgi brings a playing style rooted in both classical music and extreme metal (fascinating, eh?). </p>
                    </div>
                </div>
                <div class="about-member-div">
                    <img src="/time_jugglers/staticfiles/images/about-members-philip.jpg" alt="members-Rosie" class="about-member-img">
                    <div class="about-member-div-text">
                        <h3>Philip Kolarov</h3>
                        <h4>Bass & Vocals (2017-)</h4>
                        <p>While delivering the low end (in more ways than one), Philip also pours his energy into the songwriting process without hesitation. His bass playing draws from the same place as Geezer Butler and Cliff Burton, while his vocal style, reminiscent of singers such as Till Lindemann and Peter Steele, compliments Rosie's whenever suitable. </p>
                    </div>
                </div>
                <div class="about-member-div">
                    <img src="/time_jugglers/staticfiles/images/about-members-alexander.jpg" alt="members-Rosie" class="about-member-img">
                    <div class="about-member-div-text">
                        <h3>Alexander Hristov</h3>
                        <h4>Drums (2017-)</h4>
                        <p>Every band needs a metronome, but we have something better! Sasho adds the groove to the equation with his own approach to the percussion through the lens of drummers like Christoph Schneider, Ian Paice, Bill Ward and Scott Travis.</p>
                    </div>
                </div>
            </article>
        </section>
        <section id="about-gallery">
            <h2>GALLERY</h2>
            <div id="about-gallery-div">
                <a href="#">
                    <img src="/time_jugglers/staticfiles/images/about-gallery-image-a.jpg" alt="about-gallery-image-a" class="about-gallery-img">
                </a>
                <a href="#">
                    <img src="/time_jugglers/staticfiles/images/about-gallery-image-b.jpg" alt="about-gallery-image-b" class="about-gallery-img">
                </a>
                <a href="#">
                    <img src="/time_jugglers/staticfiles/images/about-gallery-image-c.png" alt="about-gallery-image-c" class="about-gallery-img">
                </a>
                <a href="#">
                    <img src="/time_jugglers/staticfiles/images/about-gallery-image-d.jpg" alt="about-gallery-image-d" class="about-gallery-img">
                </a>
                <a href="#">
                    <img src="/time_jugglers/staticfiles/images/about-gallery-image-e.png" alt="about-gallery-image-e" class="about-gallery-img">
                </a>
                <a href="#">
                    <img src="/time_jugglers/staticfiles/images/about-gallery-image-f.jpg" alt="about-gallery-image-f" class="about-gallery-img">
                </a>
                <a href="#">
                    <img src="/time_jugglers/staticfiles/images/about-gallery-image-g.jpg" alt="about-gallery-image-g" class="about-gallery-img">
                </a>
                <a href="#">
                    <img src="/time_jugglers/staticfiles/images/about-gallery-image-h.jpg" alt="about-gallery-image-h" class="about-gallery-img">
                </a>
                <a href="#">
                    <img src="/time_jugglers/staticfiles/images/about-gallery-image-i.JPG" alt="about-history-second-img" class="about-gallery-img">
                </a>
            </div>
        </section>
    </main>
    <footer>
        <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="footer-transparent-logo">
        <div class="footer-main-div">
            <p>Follow us:</p>
            <div class="footer-socials-links">
                <a href="https://www.instagram.com/timejugglers/?next=%2F" class="fab fa-instagram"></a>
                <a href="https://www.facebook.com/timejugglers" class="fab fa-facebook-f"></a>
                <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
                <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
                <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
            </div>
            <p>&copy 2023 Time Jugglers</p>
        </div>
    </footer>
</body>
</html>
