<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/time_jugglers/staticfiles/styles/styles.css">
</head>
<body>
    <header>
        <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="header-transparent-logo">
        <nav class="header-navbar">
            <ul class="header-list">
                <li class="header-list-item">
                    <a href="#">Home</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Discography</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Events</a>
                </li>
                <li class="header-list-item">
                    <a href="#">About</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Store</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class="header-socials-links">
            <a href="https://www.instagram.com/timejugglers/?next=%2F" class="fab fa-instagram"></a>
            <a href="https://www.facebook.com/timejugglers" class="fab fa-facebook-f"></a>
            <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
            <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
            <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
        </div>
    </header>
    <main>(
        <section id="about-introduction">
            <div id="about-introduction-image">
                <img src="/time_jugglers/staticfiles/images/home-page-band-photo.png" alt="home-page-band-photo" id="home-page-band-photo">
            </div>
            <div id="about-introduction-info">
                <h2>HISTORY</h2>
                <p>We formed back in 2016 and started off by playing a wide variety of genres from alternative and blues to indie rock. The initial line-up consisted of Rosie Lesidrenska (vocals), Georgi I. Ivanov (guitar, backing vocals), Jordan Chipev (guitar), Georgi Hristozov (bass), and Ralitsa Ostreva (drums). After a little less than a year we had the opportunity to record our first original song "Drown Together" for a compilation album "Musical Revolution" (2017) by RockSchool.bg. This also presented us our first chance to play outside our home city.</p>
                <p>It was around this time that the line-up began to change. Within one year Rosie remained the only original member and the other roles were taken up by Pavel Daskalov (guitar), Philip Kolarov (bass), and Alexander Hristov (drums). These changes brought with them a harder edge to the music, with elements of 70's and 80's heavy metal beginning to creep in. Eventually we had enough original material to record a full-length album, which we started working on in February 2019 at Sound City Studios. Five months later, the whole product was complete and "Stories in Time" was released on July 26th, featuring a wide array of styles in songs written over the group's three-year existence. The opening track "Hot Fire" was selected as part of a compilation CD for Classic Rock Magazine.</p>
                <p>Shortly after this, Pavel left the band and was replaced with Dimo Zahariev, with whom the present day line-up still stands. While concerts continued for a while, COVID-19 hindered further progress, and we began focusing on our next album, which would be longer, more focused and overall heavier. Influences such as Black Sabbath, Alice in Chains, and Soundgarden became primary while other progressive and stoner elements also found their way into the mix, as well as the idea of a concept record. Due to the scale of the new project, recording would not begin until April 2021, this time at Urban House Studio. Vladimir Georgiev (guitar) was also a member of the group for six months up until this point, but differences between us forced us to part ways.</p>
                <p>By the end of 2021, we were ready to release the first single of the new record. "Spineless", which featured guest vocalist Svetlana Bliznakova (SEVI), dropped on November 19th and became our first track to be included in a local chart (Raeyners Top 30). Two months later, the second track "Course of Action" was released, which would be rotated regularly on local radio. The entire album was release on February 18th 2022, following the last single "Lighthouse". At this point we had a new rhythm guitarist Constantin Assenov, who joined us for concerts across the country over the next half-year. We also made our international debut in May with two gigs in Germany, were we incidentally had begun recording even more new material!</p>
                <p>Even before the release of "The Tyrant Within", we had been revitalizing the creative process, which had produced four new songs. During the 9 days we spent at Vibesbuilder Studios in Erkelenz, we worked tirelessly to record every part. Once the tracks were completed, we filmed one music video for each song as well under the supervision of Boyan Karamfilov. Starting on February 24th 2023, one song was put out every three weeks, culminating in the official release of our first EP "A Fraction of Consciousness" by the end of April. The tracks have since helped us gain more widespread attention, and we will continue to pump out content as time goes by!</p>
            </div>
        </section>
        <section id="about-gallery">
            <h2>GALLERY</h2>
            <div id="about-gallery-div">

            </div>
        </section>
    </main>
    <footer>
        <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="footer-transparent-logo">
        <div class="footer-main-div">
            <p>Follow us:</p>
            <div class="footer-socials-links">
                <a href="https://www.instagram.com/timejugglers/?next=%2F" class="fab fa-instagram"></a>
                <a href="https://www.facebook.com/timejugglers" class="fab fa-facebook-f"></a>
                <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
                <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
                <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
            </div>
            <p>&copy 2023 Time Jugglers</p>
        </div>
    </footer>
</body>
</html>