<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Jugglers Home Page</title>
    <link rel="stylesheet" href="/time_jugglers/staticfiles/styles/styles.css">
</head>
<body>
    <header>
        <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="header-transparent-logo">
        <nav class="header-navbar">
            <ul class="header-list">
                <li class="header-list-item">
                    <p>Home</p>
                </li>
                <li class="header-list-item">
                    <p>Discography</p>
                </li>
                <li class="header-list-item">
                    <p>Events</p>
                </li>
                <li class="header-list-item">
                    <p>About</p>
                </li>
                <li class="header-list-item">
                    <p>Store</p>
                </li>
                <li class="header-list-item">
                    <p>Contact Us</p>
                </li>
            </ul>
        </nav>
        <div class="header-socials-links">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-spotify"></i>
            <i class="fab fa-bandcamp"></i>
        </div>
    </header>
    <main>
        <div id="home-page-img-div">
            <img src="/time_jugglers/staticfiles/images/home-page-band-photo.png" alt="home-page-band-photo" id="home-page-band-photo">
            <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="transparent-logo-home-page">
        </div>
        <div id="home-page-latest-news">
            <h2 id="latest-news-header">LATEST NEWS</h2>
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" id="home-page-youtube-video" allowfullscreen></iframe>
        </div>
    </main>
    <footer>
        <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="footer-transparent-logo">
        <hr>
        <p>Follow us:</p>
        <div class="footer-socials-links">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-spotify"></i>
            <i class="fab fa-bandcamp"></i>
        </div>
        <p>&copy 2023 Time Jugglers</p>
    </footer>
</body>
</html>