<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Create</title>
    <link rel="stylesheet" href="/time_jugglers/staticfiles/styles/styles.css">
</head>
<body>
    <header>
        <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="header-transparent-logo">
        <nav class="header-navbar">
            <ul class="header-list">
                <li class="header-list-item">
                    <a href="#">Home</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Discography</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Events</a>
                </li>
                <li class="header-list-item">
                    <a href="#">About</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Store</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class="header-socials-links">
            <a href="https://www.instagram.com/timejugglers/?next=%2F" class="fab fa-instagram"></a>
            <a href="https://www.facebook.com/timejugglers" class="fab fa-facebook-f"></a>
            <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
            <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
            <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
        </div>
    </header>
    <main>
        <article id="contact-article">
            <h2>CONTACT US</h2>
            <section id="contact-form-submitted-message">
                <p>Thank you for submitting your message! We will get back to you as soon as possible!</p>
            </section>
            <form id="contact-form" method="post" action="{% url 'contact create' %}">
                <div>
                    <h3>Send us a message via the form below:</h3>
                    <section class="contact-form-field-name">
                        <h4>Name:</h4>
                        <div class="contact-form-field contact-form-field-not-last">{{ form.name }}</div>
                    </section>

                    <section class="contact-form-field-name">
                        <h4>Email:</h4>
                        <div class="contact-form-field contact-form-field-not-last">{{ form.email }}</div>
                    </section>
                    <section class="contact-form-field-name">
                        <h4>Subject:</h4>
                        <div class="contact-form-field contact-form-field-not-last">{{ form.subject }}</div>
                    </section>
                    <section class="contact-form-field-name">
                        <h4>Text:</h4>
                        <div class="contact-form-field" id="contact-form-field-last">{{ form.text }}</div>
                    </section>
                    <input type="hidden" name="next" value ="{{ next }}">
                    <button class="contact-submit-btn" type="submit">Submit</button>
                    {% csrf_token %}
                </div>
            </form>
        </article>
    </main>
    <footer>
        <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="footer-transparent-logo">
        <div class="footer-main-div">
            <p>Follow us:</p>
            <div class="footer-socials-links">
                <a href="https://www.instagram.com/timejugglers/?next=%2F" class="fab fa-instagram"></a>
                <a href="https://www.facebook.com/timejugglers" class="fab fa-facebook-f"></a>
                <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
                <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
                <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
            </div>
            <p>&copy 2023 Time Jugglers</p>
        </div>
    </footer>
</body>
</html>
