<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discography</title>
    <link rel="stylesheet" href="/time_jugglers/staticfiles/styles/styles.css">
</head>
<body>
    <header>
        <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="header-transparent-logo">
        <nav class="header-navbar">
            <ul class="header-list">
                <li class="header-list-item">
                    <a href="#">Home</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Discography</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Events</a>
                </li>
                <li class="header-list-item">
                    <a href="#">About</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Store</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class="header-socials-links">
            <a href="https://www.instagram.com/timejugglers/?next=%2F" class="fab fa-instagram"></a>
            <a href="https://www.facebook.com/timejugglers" class="fab fa-facebook-f"></a>
            <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
            <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
            <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
        </div>
    </header>
    <main>
        <section class="discography-album-section">
            <div class="discography-album-cover">
                <img src="/time_jugglers/staticfiles/images/a-fraction-of-consciousness.jpg" alt="a-fraction-of-consciousness" id="fraction-cover">
            </div>
            <div class="discography-album-info">
                <h2>A Fraction of Consciousness (EP)</h2>
                <ul class="discography-album-info-list">
                    <li>Year: 2023</li>
                    <li>Length: 18:13</li>
                    <li>Tracks: 4</li>
                    <li>Recorded & Mixed: Vibesbuilder Studios</li>
                    <li>Mastered: Urban House Studio</li>
                </ul>
                <p>Recorded in Germany in May 2022, this extended play develops the sound of "The Tyrant Within", but taking it into a completely different dimension. The concept this time explores how two sides of one's mind face each other and try to settle their differences.</p>
                <div class="discography-album-buttons">
                    <button class="discography-view-in-store"><a href="#">View in Store</a></button>
                    <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-apple"></a>
                    <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
                    <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
                    <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
                </div>
            </div>
            <div class="discography-listen-to">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/0wL4a9wg7o7zImxOoaqHmX?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </section>
        <section class="discography-album-section">
            <div class="discography-album-cover">
                <img src="/time_jugglers/staticfiles/images/the-tyrant-within.jpg" alt="the-tyrant-within" id="tyrant-cover">
            </div>
            <div class="discography-album-info">
                <h2>The Tyrant Within (LP)</h2>
                <ul>
                    <li>Year: 2022</li>
                    <li>Length: 48:58</li>
                    <li>Tracks: 13</li>
                    <li>Recorded, Mixed & Mastered: Urban House Studio</li>
                </ul>
                <p>Our 2nd studio album marked a slight change in direction. This time we began incorporating more modern sounds and focused more on the groovier elements. "The Tyrant Within" is also our first concept record, examining how difficult experiences and bad decisions can bring an individual to their knees.</p>
                <div class="discography-album-buttons">
                    <button class="discography-view-in-store"><a href="#">View in Store</a></button>
                    <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-apple"></a>
                    <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
                    <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
                    <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
                </div>
            </div>
            <div class="discography-listen-to">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/67CGb0jfwdBUlhxOYozDho?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </section>
        <section class="discography-album-section">
            <div class="discography-album-cover">
                <img src="/time_jugglers/staticfiles/images/stories-in-time.jpg" alt="stories-in-time" id="stories-cover">
            </div>
            <div class="discography-album-info">
                <h2>Stories in Time (LP)</h2>
                <ul>
                    <li>Year: 2019</li>
                    <li>Length: 34:32</li>
                    <li>Tracks: 8</li>
                    <li>Recorded: Sound City Studios</li>
                    <li>Mixed & Mastered: Vasil Raykov</li>
                </ul>
                <p>Our very first full length album was a collection of tracks written over our first three years as a group (hence the name). As a result, the tracks' styles range from blues and soft rock to classic and speed metal.</p>
                <div class="discography-album-buttons">
                    <button class="discography-view-in-store"><a href="#">View in Store</a></button>
                    <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-apple"></a>
                    <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
                    <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
                    <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
                </div>
            </div>
            <div class="discography-listen-to">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/0E77kRzI6Z4rvC1hjBt40u?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </section>
    </main>
    <footer>
        <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="footer-transparent-logo">
        <div class="footer-main-div">
            <p>Follow us:</p>
            <div class="footer-socials-links">
                <a href="https://www.instagram.com/timejugglers/?next=%2F" class="fab fa-instagram"></a>
                <a href="https://www.facebook.com/timejugglers" class="fab fa-facebook-f"></a>
                <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
                <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
                <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
            </div>
            <p>&copy 2023 Time Jugglers</p>
        </div>
    </footer>
</body>
</html>
