<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discography</title>
    <link rel="stylesheet" href="/time_jugglers/staticfiles/styles/styles.css">
</head>
<body>
    <header>
        <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="header-transparent-logo">
        <nav class="header-navbar">
            <ul class="header-list">
                <li class="header-list-item">
                    <a href="#">Home</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Discography</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Events</a>
                </li>
                <li class="header-list-item">
                    <a href="#">About</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Store</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class="header-socials-links">
            <a href="https://www.instagram.com/timejugglers/?next=%2F" class="fab fa-instagram"></a>
            <a href="https://www.facebook.com/timejugglers" class="fab fa-facebook-f"></a>
            <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
            <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
            <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
        </div>
    </header>
    <main>
        <section class="events-section">
            <h2>UPCOMING EVENTS</h2>
            <div class="events-box">
                <div class="events-date events-box-part">
                    <table class="events-date-table">
                        <tr>
                            <th class="events-date-month">OCT</th>
                        </tr>
                        <tr>
                            <th class="events-date-day">27</th>
                        </tr>
                    </table>
                </div>
                <div class="events-description events-box-part">
                    <p>
                        @ Live & Loud, Sofia, BG
                    </p>
                </div>
                <div class="events-link events-box-part">
                    <p>
                        https://www.link.bg/this/is/a/link
                    </p>
                </div>
            </div>
        </section>
        <section class="events-lack-thereof" hidden>
            <p>No upcoming events for the time being. We'll be back on the road soon!</p>
        </section>
        <article class="events-live-videos">
            <h2>LIVE VIDEOS</h2>
            <p>Want to know what we're like live? Check out our live video for "Hole" down below!</p>
            <section class="events-live-video-section">
                <h4>HOLE (2020)</h4>
                <iframe src="https://www.youtube.com/embed/w7LAcysyQyg" class="events-youtube-video" allowfullscreen></iframe>
            </section>
        </article>
    </main>
    <footer>
        <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="footer-transparent-logo">
        <div class="footer-main-div">
            <p>Follow us:</p>
            <div class="footer-socials-links">
                <a href="https://www.instagram.com/timejugglers/?next=%2F" class="fab fa-instagram"></a>
                <a href="https://www.facebook.com/timejugglers" class="fab fa-facebook-f"></a>
                <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
                <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
                <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
            </div>
            <p>&copy 2023 Time Jugglers</p>
        </div>
    </footer>
</body>
</html>
