<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Jugglers Home Page</title>
    <link rel="stylesheet" href="/time_jugglers/staticfiles/styles/styles.css">
</head>
<body>
    <header>
        <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="header-transparent-logo">
        <nav class="header-navbar">
            <ul class="header-list">
                <li class="header-list-item">
                    <a href="#">Home</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Discography</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Events</a>
                </li>
                <li class="header-list-item">
                    <a href="#">About</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Store</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class="header-socials-links">
            <a href="https://www.instagram.com/timejugglers/?next=%2F" class="fab fa-instagram"></a>
            <a href="https://www.facebook.com/timejugglers" class="fab fa-facebook-f"></a>
            <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
            <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
            <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
        </div>
    </header>
    <main>
        <section id="home-page-introduction">
            <div id="home-page-introduction-image">
                <img src="/time_jugglers/staticfiles/images/home-page-band-photo.png" alt="home-page-band-photo" id="home-page-band-photo">
            </div>
            <div id="home-page-introduction-info">
                <h2>Welcome to our website!</h2>
                <p>We are Time Jugglers, a Bulgarian rock/metal band blending whatever we find appropriate into a heavy musical experience! This is the place you can watch content, shop from our merchandise store, brush up on events and much more!</p>
                <p>At the moment, we are in the midst of having released our first ever EP "A Fraction of Consciousness", which explores a cosmic and spiritual journey through a mind that is split in two.</p>
                <p>So feel free to explore and don't hesitate to get in touch with us should you wish!</p>
            </div>
        </section>
        <div id="home-page-latest-news">
            <section class="headers-section">
                <h2 id="latest-news-header">LATEST RELEASES</h2>
                <h3 id="latest-news-info">The entirety of our new EP "A Fraction of Consciousness" can now be experienced both sonically and visually with all 4 music videos!<br>Watch them now down below or on YouTube!</h3>
            </section>
            <div id="latest-news-video-box">
                <section class="latest-news-video">
                <h4>UNDER THE VALLEY</h4>
                <iframe src="https://www.youtube.com/embed/tkOU9zabQNE" class="home-page-youtube-video" allowfullscreen></iframe>
                </section>
                <section class="latest-news-video">
                    <h4>ISOLATION</h4>
                    <iframe src="https://www.youtube.com/embed/Iv4jnNePBDU" class="home-page-youtube-video" allowfullscreen></iframe>
                </section>
                <section class="latest-news-video">
                    <h4>BREATHE EVIL</h4>
                    <iframe src="https://www.youtube.com/embed/azNVeslYhag" class="home-page-youtube-video" allowfullscreen></iframe>
                </section>
                <section class="latest-news-video">
                    <h4>MUON</h4>
                    <iframe src="https://www.youtube.com/embed/mvBox413vQA" class="home-page-youtube-video" allowfullscreen></iframe>
                </section>
            </div>
        </div>
    </main>
    <footer>
        <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="footer-transparent-logo">
        <div class="footer-main-div">
            <p>Follow us:</p>
            <div class="footer-socials-links">
                <a href="https://www.instagram.com/timejugglers/?next=%2F" class="fab fa-instagram"></a>
                <a href="https://www.facebook.com/timejugglers" class="fab fa-facebook-f"></a>
                <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
                <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
                <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
            </div>
            <p>&copy 2023 Time Jugglers</p>
        </div>
    </footer>
</body>
</html>