@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');

body {
    background-color: black;
    font-family: Cambria, Palatino Linotype, Comic Sans MS, 'sans-serif';
    color: aliceblue;
}

#about-gallery {
    margin: 0 2%;
}

#about-gallery > a {
    display: inline-block;
    width: 80%;
}

#about-gallery > h2, #about-history > h2, #about-members > h2, #contact-article > h2 {
    text-align: center;
}

#about-gallery-div {
    display: flex;
    overflow-x: scroll;
    width: 1200px;
    height: 260px;
    margin-bottom: 20px;
}

#about-gallery-div::-webkit-scrollbar {
    height: 12px;
}

#about-gallery-div::-webkit-scrollbar-thumb, #about-history-article::-webkit-scrollbar-thumb {
    background-color: #2990ca;
    border-radius: 100px;
}

#about-gallery-div::-webkit-scrollbar-track, #about-history-article::-webkit-scrollbar-track {
    background-color: #545454;
    border-radius: 100px;
}

.about-gallery-img {
    aspect-ratio: auto;
    height: 240px;
    margin-right: 8px;
}

#about-history {
    margin: 0 2%;
}

#about-history-article {
    overflow-y: scroll;
    height: 272px;
    background-color: #3b3b3b;
    padding: 12px 8px;
    border-radius: 3px;
    box-sizing: border-box;
}

#about-history-article::-webkit-scrollbar {
    width: 12px;
}

#about-history-article > h3 {
    font-style: italic;
    margin: -4px 0;
}

#about-history-first-img {
    margin: 2% 2% 0;
    height: 86%;
    width: 96%;
}

#about-history-second-img {
    margin: 2% 2% 0;
    height: 86%;
    width: 96%;
}

#about-history-first-image {
    height: 272px;
    width: 348px;
    margin: 0 8px 4px;
    float: left;
}

.about-history-image-div {
    display: inline-block;
    border: 2px solid white;
    box-sizing: border-box;
}

.about-history-image-div > p {
    display: inline-block;
    margin: 0 0 0 2%;
}

#about-history-second-image {
    height: 272px;
    width: 400px;
    margin: 4px 8px;
    float: right;
}

#about-members-article {
    display: flex;
    width: 88%;
}

.about-member-img {
    display: inline-block;
    padding: 6px 6px 0;
    box-sizing: border-box;
    height: 352px;
    width: 236px;
}

.about-member-div {
    width: 248px;
    margin: 0 16px;
    background-color: #3b3b3b;
    border-radius: 3px;
}

.about-member-div > h4 {
    font-style: italic;
}

.about-member-div-text {
    padding: 0 8px;
}

#contact-article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

#contact-form, #store-form {
    padding: 2px 16px 16px 16px;
    font-size: larger;
}

.contact-form-field {
    border: solid 3px #a4a4a4;
    background-color: white;
    border-radius: 3px;
    width: 480px;
    height: 24px;
    padding: 4px;
}

.contact-form-field-name, .store-form-field-name {
    margin: 0 16px;
}

.contact-form-field-name > h4, .store-form-field-name > h4 {
    margin: 12px 0;
}

#contact-form-field-last {
    height: 120px;
}

#contact-form-submitted-message {
    display: flex;
    justify-content: center;
    background-color: #3b3b3b;
    font-weight: bolder;
    border-radius: 5px;
    border-bottom: solid 3px #545454;
    border-right: solid 3px #545454;
    margin-bottom: 16px;
}

#contact-form-submitted-message > p {
    margin: 16px;
    font-weight: bolder;
}

.contact-submit-btn, .discography-view-in-store, .store-submit-btn {
    background-color: #2990ca;
    color: white;
    border-radius: 5px;
    margin-top: 24px;
    padding: 8px 24px;
    font-size: 20px;
    font-weight: bold;
}

.contact-submit-btn:hover, .discography-view-in-store:hover, .store-submit-btn:hover {
    background-color: #83bdf5;
}

.contact-submit-btn > a, .discography-view-in-store > a, .store-submit-btn > a {
    color: white;
    margin-left: 4px;
    margin-right: 4px;
    text-decoration: none;
}

.discography-album-cover {
    width: 400px;
}

.discography-album-info {
    width: 600px;
    padding: 0 20px;
    box-sizing: border-box;
}

.discography-album-info-list {
    list-style: square;
}

.discography-album-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 60px;
}

.discography-view-in-store > a {
    color: white;
    text-decoration: none;
}

.events-box {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    border: solid 1px white;
}

.events-box-part {
    padding: 20px;
}

.events-boxes {
    display: flex;
    justify-content: center;
}

.events-date {
    display: block;
}

.events-date-table {
    background-color: white;
    color: black;
    border: solid 1px white
}

.events-date-day {
    font-size: 32px;
    padding: 0 4px;
}

.events-date-month {
    font-size: 20px;
    padding: 0 4px;
}

.events-description{
    font-size: 24px;
}

.events-link {
    font-size: 24px;
    padding-right: 20px;
}

#events-live-videos-div {
    display: flex;
    justify-content: center;
}

.events-live-video-section {
    width: 600px;
    height: 360px;
    margin: 12px 24px 100px;
}

.events-live-videos > h2 {
    width: 100%;
    text-align: center;
}

.events-live-videos {
    width: 100%;
    text-align: center;
}

.events-youtube-video {
    width: 600px;
    height: 360px;
}

.events-section {
    width: 100%;
    justify-content: center;
}

.events-section > h2 {
    text-align: center;
}

#fraction-cover, #stories-cover, #tyrant-cover {
    width: 400px;
}

.fa-apple:hover {
    color: lightgrey;
}

.fa-bandcamp:hover {
    color: #27a9b8;
}

.fa-facebook-f:hover {
    color: #1877f2;
}

.fa-instagram:hover {
    color: #c934ad;
}

.fa-spotify:hover {
    color: #1ed760;
}

.fa-youtube:hover {
    color: #f61111;
}

footer {
    padding: 16px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    border-top-style: double;
    border-top-width: 2px;
    border-top-color: white;
}

.footer-main-div {
    position: relative;
    margin-left: 20px;
}

.footer-socials-links {
    margin-top: -8px;
    margin-bottom: -8px;
}

.footer-socials-links > a {
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    font-size: large;
    color: white;
    text-decoration: none;
    transition: all .2s linear;
}

#footer-transparent-logo {
    height: 120px;
    width: 200px;
}

h2 {
    font-size: xx-large;
}

header {
    display: flex;
    justify-content: space-around;
    height: 100px;
    border-bottom-style: double;
    border-bottom-width: 2px;
    border-bottom-color: white;
}

.header-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header-list-item {
    margin: auto;
    padding: 20px;
}

.header-list-item > a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.header-list-item > a:hover {
    color: #86ccef;
    transition: all .2s linear;
}

.header-navbar {
    display: flex;
    align-items: center;
}

.header-socials-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-socials-links > a {
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block;
    font-size: x-large;
    color: white;
    text-decoration: none;
    transition: all .2s linear;
}

#header-transparent-logo {
    margin-top: 4px;
    height: 84px;
    width: 140px;
    display: inline-block;
}

.headers-section {
    text-align: center;
}

#home-page-band-photo {
    align-self: center;
    aspect-ratio: auto;
    width: 508px;
    margin: 0;
}

#home-page-introduction {
    display: flex;
    justify-content: center;
    margin: 20px 60px 0;
    width: 78%;
}

#home-page-introduction-image {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 12px;
    width: 508px;
    height: 334px;
    border: solid 1px white;
}

#home-page-introduction-info {
    margin-top: 8px;
    margin-left: 12px;
    background-color: #3b3b3b;
    border-radius: 3px;
    padding: 8px 8px 0 8px;
    width: 48%;
}

#home-page-introduction-info > h2 {
    margin-top: 0;
    margin-bottom: 12px;
}

#home-page-latest-news {
    margin: 12px 36px;
    aspect-ratio: auto;
}

#home-page-latest-news > h4 {
    font-weight: bold;
}

#home-page-transparent-logo {
    position: relative;
    left: 148px;
    bottom: 232px;
    width: 350px;
    height: 210px;
}

.home-page-youtube-video {
    width: 600px;
    height: 360px;
}

.latest-news-video {
    text-align: center;
    padding-bottom: 12px;
}

#latest-news-video-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#not-found-error-div {
    display: flex;
    justify-content: center;
    background-color: #3b3b3b;
    font-weight: bolder;
    border-radius: 5px;
    border-bottom: solid 3px #545454;
    border-right: solid 3px #545454;
    margin-top: 20px;
    margin-bottom: 400px;
}

#not-found-error-message {
    padding: 0 16px;
}

.store-details-merch-article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.store-details-merch-item {
    display: flex;
    margin: 12px;
}

#store-details-product-info {
    margin-left: 12px;
    width: 400px;
}

#store-details-product-info > h3 {
    padding: 0;
    margin-bottom: 0;
}

#store-form {
    display: flex;
    justify-content: center;
}

#store-form-div {
    width: 44%;
    display: flex;
    flex-wrap: wrap;
}

.store-form-field {
    border: solid 3px #a4a4a4;
    background-color: white;
    border-radius: 3px;
    width: 560px;
    height: 24px;
    padding: 4px;
}

.store-form-field-dropdown {
    border: solid 3px #a4a4a4;
    background-color: white;
    border-radius: 3px;
    width: 160px;
    height: 24px;
    padding: 4px;
}

.store-form-field-location {
    border: solid 3px #a4a4a4;
    background-color: white;
    border-radius: 3px;
    width: 258px;
    height: 24px;
    padding: 4px;
}

.store-header {
    display: block;
    text-align: center;
    padding: 0 400px;
}

.store-merch-item {
    width: 260px;
    height: 388px;
    border: 2px solid white;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.store-merch-item-price {
    font-style: italic;
}

.store-merch-item-img {
    padding-top: 10px;
    width: 240px;
    height: 240px;
}

.store-merch-item-title {
    padding: 0 10px;
    display: block;
    font-weight: bold;
}

#store-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #3b3b3b;
    margin-bottom: 12px;
    border-radius: 5px;
    border-bottom: solid 3px #545454;
    border-right: solid 3px #545454;
    padding: -4px 16px;
}

#store-notification > p, #store-notification > i {
    margin: 8px;
    padding: 8px;
    font-weight: bolder;
}

#store-primary-div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 68%;
}
