@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');

body {
    background-color: black;
    font-family: Palatino Linotype, Comic Sans MS, 'sans-serif';
    color: aliceblue;
}

header {
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.header-list {
    list-style: none;
}

.header-list-item {
    margin: auto;
    display: inline-block;
    font-size: 24px;
    padding: 24px;

}

.header-navbar {
    display: flex;
    align-items: center;
    align-content: center;
}

.header-socials-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-socials-links > a {
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block;
    font-size: x-large;
    color: white;
    text-decoration: none;
    transition: all .2s linear;
}

.header-socials-links > a:hover {
    color: cornflowerblue;
}

#header-transparent-logo {
    margin-top: 4px;
    height: 80px;
    width: 120px;
    display: inline-block;
}

.home-page-band-photo {
    width: 1000px;
    aspect-ratio: auto;
}

.home-page-youtube-video {
    width: 630px;
    height: 473px;
}

footer {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.footer-main-div {
    position: relative;
    margin-left: 20px;
}

.footer-socials-links {
    margin-top: -8px;
    margin-bottom: -8px;
}

.footer-socials-links > a {
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    font-size: large;
    color: white;
    text-decoration: none;
    transition: all .2s linear;
}

.footer-socials-links > a:hover {
    color: cornflowerblue;
}

#footer-transparent-logo {
    height: 120px;
    width: 164px;
}
