<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <link rel="stylesheet" href="/time_jugglers/staticfiles/styles/styles.css">
</head>
<body>
<header>
        <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="header-transparent-logo">
        <nav class="header-navbar">
            <ul class="header-list">
                <li class="header-list-item">
                    <a href="#">Home</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Discography</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Events</a>
                </li>
                <li class="header-list-item">
                    <a href="#">About</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Store</a>
                </li>
                <li class="header-list-item">
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class="header-socials-links">
            <a href="https://www.instagram.com/timejugglers/?next=%2F" class="fab fa-instagram"></a>
            <a href="https://www.facebook.com/timejugglers" class="fab fa-facebook-f"></a>
            <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
            <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
            <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
        </div>
    </header>
    <main>
        <article class="store-details-merch-article">
            <section class="store-details-merch-item">
                <img src="/time_jugglers/staticfiles/images/store-merch-item-wip.png" alt="merch-item" class="store-merch-item-img">
                <div id="store-details-product-info">
                    <h3 class="store-merch-item-title">"A Fraction of Consciousness" T-Shirt</h3>
                    <p class="store-merch-item-price">€15.00</p>
                    <p>Purchase the product by filling out the order form down below. We will respond to your order with further details as soon as possible!</p>
                </div>
            </section>
            <form id="store-form" method="post" action="{% url 'contact create' %}">
                <div id="store-form-div">
                    <h3>Place an order for this product via the form below:</h3>
                    <section class="store-form-field-name">
                        <h4>Name:</h4>
                        <div class="store-form-field">{{ form.name }}</div>
                    </section>
                    <section class="store-form-field-name">
                        <h4>Email:</h4>
                        <div class="store-form-field">{{ form.email }}</div>
                    </section>
                    <section class="store-form-field-name">
                        <h4>Address:</h4>
                        <div class="store-form-field">{{ form.address }}</div>
                    </section>
                    <section class="store-form-field-name">
                        <h4>City:</h4>
                        <div class="store-form-field-location">{{ form.city }}</div>
                    </section>
                    <section class="store-form-field-name">
                        <h4>Country:</h4>
                        <div class="store-form-field-location">{{ form.address }}</div>
                    </section>
                    <section class="store-form-field-name">
                        <h4>Postcode:</h4>
                        <div class="store-form-field-location">{{ form.postcode }}</div>
                    </section>
                    <section class="store-form-field-name">
                        <h4>Quantity:</h4>
                        <div class="store-form-field-dropdown">{{ form.quantity }}</div>
                    </section>
                    <section class="store-form-field-name" hidden>
                        <h4>Size:</h4>
                        <div class="store-form-field-dropdown">{{ form.subject }}</div>
                    </section>
                    <input type="hidden" name="next" value ="{{ next }}">
                    <button class="store-submit-btn" type="submit">Submit</button>
                    {% csrf_token %}
                </div>
            </form>
        </article>
    </main>
    <footer>
        <img src="/time_jugglers/staticfiles/images/transparent-logo.png" alt="transparent-logo" id="footer-transparent-logo">
        <div class="footer-main-div">
            <p>Follow us:</p>
            <div class="footer-socials-links">
                <a href="https://www.instagram.com/timejugglers/?next=%2F" class="fab fa-instagram"></a>
                <a href="https://www.facebook.com/timejugglers" class="fab fa-facebook-f"></a>
                <a href="https://www.youtube.com/@TimeJugglers" class="fab fa-youtube"></a>
                <a href="https://open.spotify.com/artist/1nyjxA6HsRygpuXzr3bzaV" class="fab fa-spotify"></a>
                <a href="https://timejugglers.bandcamp.com/" class="fab fa-bandcamp"></a>
            </div>
            <p>&copy 2023 Time Jugglers</p>
        </div>
    </footer>
</body>
</html>
